In [ ]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
#from seaborn import sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd drive/MyDrive/Colab\ Notebooks/datasets/competition2022/

/content/drive/MyDrive/Colab Notebooks/datasets/competition2022

In [ ]:
!ls

0.1train.csv  test.csv	   train.csv	 train_v7.csv
0.2train.csv  test_v7.csv  train_v3.csv  train_v8.csv
0.3train.csv  test_v8.csv  trainv4.csv	 trainv9.csv

In [ ]:
table1 = pd.read_csv("train_v7.csv",sep=',',error_bad_lines=False,index_col=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
pd_test = pd.read_csv("test_v7.csv",sep=',',error_bad_lines=False,index_col=False)

In [ ]:
pd_test = pd_test.fillna(-1)

In [ ]:
table1 = table1.fillna(-1)

In [ ]:
table1

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,hex-2,count,count0,count1,count0p,count1p,salary,population,area,density
0,1,2020-06-01,Область,Калужская,Козельск,86118461fffffff,54.036155,35.788031,0.00114,0.00137,...,86118461fffffff,100,96,4,0.960000,0.040000,43994.0,1012844,29777,34.014306
1,1,2020-06-01,Область,Калужская,Курилово,8611819a7ffffff,55.083486,37.013894,0.00010,0.00010,...,8611819a7ffffff,29,26,3,0.896552,0.103448,43994.0,1012844,29777,34.014306
2,1,2020-06-01,Область,Калужская,Балабаново,8611852b7ffffff,55.178959,36.674532,0.00021,0.00029,...,8611852b7ffffff,85,81,4,0.952941,0.047059,43994.0,1012844,29777,34.014306
3,1,2020-06-01,Область,Калужская,Сосенский,8611846c7ffffff,54.047013,35.944630,0.00193,0.00175,...,8611846c7ffffff,87,83,4,0.954023,0.045977,43994.0,1012844,29777,34.014306
4,1,2020-06-01,Область,Калужская,Обнинск,861185747ffffff,55.086586,36.604952,0.00015,0.00022,...,861185747ffffff,253,251,2,0.992095,0.007905,43994.0,1012844,29777,34.014306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294253,0,2020-12-01,Область,Магаданская,Магадан,8617142dfffffff,59.550070,150.740527,0.00009,0.00005,...,8617142dfffffff,72,72,0,1.000000,0.000000,102843.0,137767,462464,0.297898
294254,0,2020-12-01,Область,Магаданская,Ола,8617154afffffff,59.577462,151.294079,0.00045,0.00046,...,8617154afffffff,13,13,0,1.000000,0.000000,102843.0,137767,462464,0.297898
294255,0,2020-12-01,Область,Магаданская,Магадан,8617142cfffffff,59.598694,150.810630,-1.00000,-1.00000,...,8617142cfffffff,82,80,2,0.975610,0.024390,102843.0,137767,462464,0.297898
294256,0,2020-12-01,Автономный Округ,Чукотский,Певек,8604ebc5fffffff,69.703205,170.185894,0.00001,0.00002,...,8604ebc5fffffff,1,1,0,1.000000,0.000000,120641.0,50040,721481,0.069357
294257,0,2020-12-01,Автономный Округ,Чукотский,Певек,8604eb1a7ffffff,69.678273,170.350467,0.00001,0.00001,...,8604eb1a7ffffff,1,1,0,1.000000,0.000000,120641.0,50040,721481,0.069357

In [ ]:
# classifier = KNeighborsClassifier(n_neighbors=10)

In [ ]:
# for i in range(len(list(table1.columns.values))):
#   print(i,list(table1.columns.values)[i])

In [ ]:
# y = table1['label']

In [ ]:
X = table1.iloc[:, 8:38]

In [ ]:
X_test = pd_test.iloc[:, 8:38]

In [ ]:
# kmeans = classifier.fit(X,y)

Классификатор

In [ ]:
# pred = classifier.predict(X) #очень долго

In [ ]:
scaler_X = MinMaxScaler()
scale = scaler_X.fit_transform(X)

In [ ]:
scale_test =scaler_X.transform(X_test)

In [ ]:
X = pd.DataFrame(scale)

In [ ]:
X_test = pd.DataFrame(scale_test)

In [ ]:
km=KMeans(n_clusters=100,random_state=1)
y_predicted = km.fit_predict(scale)

In [ ]:
y_test = km.predict(scale_test)

In [ ]:
scale_test

array([[0.76279282, 0.77506903, 0.78336315, ..., 0.        , 0.50249   ,
        0.8       ],
       [0.76258747, 0.77618278, 0.78403506, ..., 0.        , 0.501665  ,
        0.8       ],
       [0.76092181, 0.7738934 , 0.78190214, ..., 0.        , 0.50452   ,
        0.8       ],
       ...,
       [0.76321874, 0.77619825, 0.78445696, ..., 0.86174   , 0.50625   ,
        0.8       ],
       [0.76061758, 0.77348348, 0.78135523, ..., 0.876545  , 0.511265  ,
        0.8       ],
       [0.76073928, 0.77367684, 0.78160524, ..., 0.958335  , 0.51      ,
        0.8       ]])

In [ ]:
y_predicted

array([ 0,  0,  0, ..., 99,  5,  5], dtype=int32)

In [ ]:
table1["KMeans(100)"] = y_predicted

In [ ]:
table1

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,count,count0,count1,count0p,count1p,salary,population,area,density,KMeans(100)
0,1,2020-06-01,Область,Калужская,Козельск,86118461fffffff,54.036155,35.788031,0.00114,0.00137,...,100,96,4,0.960000,0.040000,43994.0,1012844,29777,34.014306,0
1,1,2020-06-01,Область,Калужская,Курилово,8611819a7ffffff,55.083486,37.013894,0.00010,0.00010,...,29,26,3,0.896552,0.103448,43994.0,1012844,29777,34.014306,0
2,1,2020-06-01,Область,Калужская,Балабаново,8611852b7ffffff,55.178959,36.674532,0.00021,0.00029,...,85,81,4,0.952941,0.047059,43994.0,1012844,29777,34.014306,0
3,1,2020-06-01,Область,Калужская,Сосенский,8611846c7ffffff,54.047013,35.944630,0.00193,0.00175,...,87,83,4,0.954023,0.045977,43994.0,1012844,29777,34.014306,23
4,1,2020-06-01,Область,Калужская,Обнинск,861185747ffffff,55.086586,36.604952,0.00015,0.00022,...,253,251,2,0.992095,0.007905,43994.0,1012844,29777,34.014306,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294253,0,2020-12-01,Область,Магаданская,Магадан,8617142dfffffff,59.550070,150.740527,0.00009,0.00005,...,72,72,0,1.000000,0.000000,102843.0,137767,462464,0.297898,83
294254,0,2020-12-01,Область,Магаданская,Ола,8617154afffffff,59.577462,151.294079,0.00045,0.00046,...,13,13,0,1.000000,0.000000,102843.0,137767,462464,0.297898,43
294255,0,2020-12-01,Область,Магаданская,Магадан,8617142cfffffff,59.598694,150.810630,-1.00000,-1.00000,...,82,80,2,0.975610,0.024390,102843.0,137767,462464,0.297898,99
294256,0,2020-12-01,Автономный Округ,Чукотский,Певек,8604ebc5fffffff,69.703205,170.185894,0.00001,0.00002,...,1,1,0,1.000000,0.000000,120641.0,50040,721481,0.069357,5
294257,0,2020-12-01,Автономный Округ,Чукотский,Певек,8604eb1a7ffffff,69.678273,170.350467,0.00001,0.00001,...,1,1,0,1.000000,0.000000,120641.0,50040,721481,0.069357,5

In [ ]:
table2 = pd.read_csv("train_v7.csv",sep=',',error_bad_lines=False,index_col=False)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
table2["KMeans(100)"] = y_predicted

In [ ]:
table2.to_csv("train_v8.csv")

In [ ]:
table_test = pd.read_csv("test_v7.csv",sep=',',error_bad_lines=False,index_col=False)

In [ ]:
table_test["KMeans(100)"] = y_test

In [ ]:
table_test

,label,period,subject_type,subject_name,city_name,hex,hex_lat,hex_lon,f1,f2,...,count,count0,count1,count0p,count1p,salary,population,area,density,KMeans(100)
0,1,2020-11-01,Город,Москва,Москва,8611aa6b7ffffff,55.656639,37.774902,0.00292,0.00211,...,562.0,545.0,17.0,0.969751,0.030249,100070.0,12635466,2561,4933.801640,76
1,1,2020-11-01,Город,Москва,Москва,8611aa70fffffff,55.879910,37.583383,0.00265,0.00355,...,1127.0,1091.0,36.0,0.968057,0.031943,100070.0,12635466,2561,4933.801640,37
2,1,2020-11-01,Город,Москва,Москва,8611aa627ffffff,55.855726,37.669858,0.00046,0.00059,...,721.0,698.0,23.0,0.968100,0.031900,100070.0,12635466,2561,4933.801640,37
3,1,2020-11-01,Город,Москва,Москва,861181b2fffffff,55.496542,37.542584,0.00304,0.00243,...,99.0,93.0,6.0,0.939394,0.060606,100070.0,12635466,2561,4933.801640,77
4,1,2020-11-01,Город,Москва,Москва,8611aa4cfffffff,55.613025,37.529612,0.00183,0.00163,...,689.0,668.0,21.0,0.969521,0.030479,100070.0,12635466,2561,4933.801640,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152761,0,2021-05-01,Республика,Алтай,Владимировка,86206a997ffffff,51.036626,84.209675,0.00021,0.00019,...,2.0,2.0,0.0,1.000000,0.000000,36269.0,221559,92903,2.384842,24
152762,0,2021-05-01,Республика,Алтай,Горно-Алтайск,862068357ffffff,51.962374,85.949424,0.00096,0.00074,...,123.0,121.0,2.0,0.983740,0.016260,36269.0,221559,92903,2.384842,96
152763,0,2021-05-01,Республика,Алтай,Майма,862068377ffffff,52.018114,85.903139,0.00348,0.00357,...,36.0,35.0,1.0,0.972222,0.027778,36269.0,221559,92903,2.384842,28
152764,0,2021-05-01,Республика,Алтай,Горно-Алтайск,862068357ffffff,51.962374,85.949424,0.00006,0.00006,...,123.0,121.0,2.0,0.983740,0.016260,36269.0,221559,92903,2.384842,63
152765,0,2021-05-01,Республика,Алтай,Майма,862068377ffffff,52.018114,85.903139,0.00022,0.00031,...,36.0,35.0,1.0,0.972222,0.027778,36269.0,221559,92903,2.384842,96

In [ ]:
table_test.to_csv("test_v8.csv")